{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
    <main>
    <div class="container mt-5">

      <!--Section: Products v.3-->
      <section class="mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">
<div class="col-lg-6 mx-auto">
<h1>{% trans "Sign Up Closed" %}</h1>

<p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
</div></div>
      </section>
    </div>
    </main>
{% endblock %}
