{% extends 'base.html' %}

{% block content %}
  <main>
    <div class="container mt-5">


     <h2>My Carts</h2>

 <div class="row">
     <div class="col-lg-8">
             {% for order_item in object.items.all %}
         <div class="media d-block d-md-flex mt-4">
                <img class="d-block mb-3 mx-auto media-image shadow-sm" width="140px" src="{{ order_item.item.image.url }}"   alt="{{ order_item.item.title }}">
              <div class="media-body text-center text-md-left ml-md-3 ml-0">
                <h5 class="mt-0 font-weight-bold">{{ order_item.item.title }}</h5>
                  <span class="d-block">
                      {% if order_item.item_variations.exists %}
                         {% for foo in order_item.item_variations.all %}
                              <small class="text-muted">{{ foo.variation.name }}: {{ foo.value }}</small>
                          {% endfor %}
                      {% endif %}
                  </span>
              <span class="d-inline-block my-2">
                  {% if order_item.item.discount_price %}
                           <p class="text-dark h5 font-weight-bold d-inline">₹{{ order_item.get_total_discount_price }}</p>
                       <del class="text-muted small mx-1">₹{{ order_item.get_total_price }}</del>
                      <span class="text-success font-weight-bold small mx-1">Saving ₹{{ order_item.get_amount_saved }} ({{ order_item.total_discount_percentage_price }}%)</span>
                    {% else %}
                        <p class="text-dark font-weight-bold">₹{{ order_item.get_total_price }}</p>
                    {% endif %}

                  </span>




              </div>

         </div>

                  <div class="d-inline-block ml-4 float-left">
                  <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}" class=" badge badge-light p-2">
                             <i class="fas fa-minus"></i>
                        </a>
                        <span class="p-2">{{ order_item.qty }}</span>
                        <a href="{% url 'core:add-to-cart' order_item.item.slug %}" class="badge badge-light p-2">
                        <i class="fas fa-plus"></i>
                        </a>
                  </div>
                 <div class="d-inline-block float-right">
                   <a href="{% url 'core:remove-from-cart' order_item.item.slug %}" class="btn btn-danger btn-sm mt-n3"><i class="fas fa-trash"></i> Remove</a>
                 </div>
                 <div class="clearfix"></div>
                 <hr>

  {% empty %}
            Your cart is empty
            <a href="{% url 'core:homepage' %}" class="btn btn-primary float-right ">Continue Shopping</a>


      {% endfor %}


      {% if object.coupon %}
        <tr>
        <th colspan="4">Coupon</th>
        <th>{{ object.coupon.amount }}</th>
    </tr>
    {% endif %}
 </div>
    <div class="col-lg-4">

            <div class="card shadow-sm sticky-top" style="top:60px!important;">
                <div class="card-header">Price Details</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
{% if object.get_total %}
        <li class="list-group-item list-group-item-action">Items () <span class="float-right">₹{{ object.get_total }}</span></li>
        <li class="list-group-item list-group-item-action">Delivery Charge <span class="float-right">₹0</span></li>
        <li class="list-group-item list-group-item-action">Order Total  <span class="float-right">₹{{ object.get_total }}</span></li>

            <a href="{% url 'core:checkout' %}" class="btn btn-warning float-right ml-2">Proceed to Checkout</a>
            <a href="{% url 'core:homepage' %}" class="btn btn-primary float-right ">Continue Shopping</a>
        </td>
    </tr>

    {% endif %}
</ul>
                </div>
            </div>


    </div>
</div>
     </div>
  </main>


{% endblock %}